.movieContainer{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    max-width: 800px; 
    margin: 0 auto;     /* this centers it horizontally */
    padding: 16px;
    /*GO FOR THIS FONT*/
    font-family:    Playfair Display;         /*semi bold 700*/ 
    font-weight: 700;
    color: white;
}
#backdrop {
    width: 100%;             /* full width of the parent container */
    aspect-ratio: 16 / 9;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;      
    overflow: hidden;
    margin: 0 auto; 
    mask-image: 
    linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%),
    linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}
.movie-contents{
    display: flex;
    flex-direction: row;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    max-width: 450px;
    padding-right: 5px;
}
.desciption-container{
    display: flex;
    flex-direction: column;
}
#poster {
    width: 200px;         
    aspect-ratio: 2 / 3;  
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;   
    overflow: hidden;
    margin: 0;
    margin-right: 5px;
    /* padding-right: px; */
}
.poster-extra-content{
    display: flex;
    flex-direction: column;
}
.rating-runtime-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.star-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#star-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}
.poster-quiz-container{
    display: flex;
    flex-direction: row;
}
.budget-quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.title-runtime-container {    /*dont't think this is used*/
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;    
}
/* #title {
    margin: 0;
    display: flex;
    font-size: x-large;
}
#runtime {
    margin: 0;
    display: flex;
    font-size: x-large;
}
#description {
    padding-top: 20px;
    margin: 0;
    color: white;
    font-size: large;
    text-align: left;
} */

