header {
    display: flex;
    justify-content: center;
    background: rgb(24, 24, 24);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

  }
  .header-content-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  header h2 {
    margin-left: 15px;
    margin-right: 60px;
    text-decoration: none;
  }
  .home-link{
    text-decoration: none;
    color: inherit;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    border: 2px solid purple;
    border-radius: 0px;
    background-color: white !important;
  }
  .search-container input {
    flex: 1;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  .search-container img{
    margin-right: 5px ;
    width: 23px;
    height: 23px;
    border: none;
    cursor: pointer;
  }
  header button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 14px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    font-size: medium;
  }
  .watchlist:hover{
    background-color: rgb(79, 79, 79);
  }
  .watchlist{
    margin-left: 60px;
  }
  .sign-in{
    margin-right: 20px;
    width: auto;
    min-width: 90px;
  }
  .user-Account-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(99, 0, 99);
    text-align: center;
    padding: 0;
    line-height: 40px;
    min-width: 40px;    
  }
  .user-Account-button:hover{
    box-shadow: 0 0 0 4px rgba(128, 128, 128, 0.3);
  }
  .dropdown{
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    top: 50px; /* adjust based on your header height */
    right: 0;
    background-color: rgb(61, 61, 61);
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px 5px;
    min-width: 120px;
    z-index: 1000;
    flex-direction: column;
  }
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    /* background-color: darkgrey; */
    color: #d3d3d3;
    /* border: 1px solid #000000; */
  }
  .dropdown-menu a:hover {
    cursor: pointer;
    background-color: grey;
    border-radius: 3px;
  }