body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: rgb(24, 24, 24);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  header h2 {
    margin-left: 5px;
    margin-right: 60px;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    /* max-width: 400px; */
    margin: auto;
    border: 2px solid purple;
    border-radius: 0px;
    background-color: white;
  }
  .search-container input {
    flex: 1;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  .search-container img{
    margin-right: 5px ;
    width: 23px;
    height: 23px;
    border: none;
    cursor: pointer;
  }
  header button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 14px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    font-size: medium;
  }
  header button:hover{
    background-color: rgb(79, 79, 79);
  }
  .watchlist{
    margin-left: 60px;
  }
  .sign-in{
    margin-right: 20px;
    width: auto;
    min-width: 90px;
  }
  .pop-films-header {
    color: white;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap; /* Optional: Allows wrapping if there are too many items */
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
  }
  .movie-card {
    background-color: lightgrey;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .movie-list :hover{
    background-color: grey;
    outline: gray;
    text-decoration: underline;
    opacity: 0.8;
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .movie-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .movie-card .title {
    background-color: #f8f9fa; /* Light background for the title */
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-overflow: ellipsis; /* If the title is too long */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowed text */
  }
